# Ignore test implementations
/src/Cryptal/Implementers/Crypto.php
/src/Cryptal/Implementers/Hash.php
/src/Cryptal/Implementers/Mac.php
/src/Cryptal/registry.dat

# Ignore composer's vendor/ dir.
/vendor

/docs/api
/docs/coverage
/docs/enduser

/build
/*.tagfile.xml
/*.svg
